In [1]:
import numpy as np
import sklearn 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import svm
from sklearn import metrics

In [2]:
X=pd.read_csv(r'C:\Users\acer\Documents\twitter_data.csv')

In [3]:
# top 5 rows of data
print(X.head())

                                              twitts  sentiment
0        robbiebronniman ##sounds like a great night          1
1  damn the person who stolde my wallet may karma...          1
2               greetings from the piano bench photo          1
3  drewryanscott i love it i l$ove you haha forge...          1
4  kissthestars pretty pretty pretty please pakid...          0

In [4]:
# A function to clean the text in twitts coloumn. It revoves all the special charcters,extra spaces and digits in the string.
def data_clean(X) :
 spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–","$","."]
 for char in spec_chars:
    X['twitts']= X['twitts'].str.replace(char,"")
 X.replace('\d+','',regex=True,inplace=True)

In [5]:
#cleaned data
data_clean(X)
X

<ipython-input-4-284d7f619e0a>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  X['twitts']= X['twitts'].str.replace(char,"")

                                                  twitts  sentiment
0              robbiebronniman sounds like a great night          1
1      damn the person who stolde my wallet may karma...          1
2                   greetings from the piano bench photo          1
3      drewryanscott i love it i love you haha forget...          1
4      kissthestars pretty pretty pretty please pakid...          0
...                                                  ...        ...
29995     calumfan is it in any way related to photoshop          0
29996                       swiznz really wow thats crap          0
29997  at the  lexus hsh press event again cannot tel...          0
29998    karmicunderpath ooh now there is a nice thought          1
29999  mariap i would usually ask you about the sun a...          1

[30000 rows x 2 columns]

In [6]:
# checking wether there are any missing values in both coloumns
X.isna().any()

twitts       False
sentiment    False
dtype: bool

In [7]:
data=X["twitts"]
target=X["sentiment"]
print(data.shape,target.shape)

(30000,) (30000,)

In [8]:
vectorizer1 = TfidfVectorizer(analyzer='word',ngram_range=(1,1),stop_words='english')
data_c=vectorizer1.fit_transform(list(data))

In [9]:
print(data_c.shape)

(30000, 40367)

In [10]:
clf=svm.SVC(kernel='rbf')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(data_c,target, test_size=0.2,random_state=109)

In [12]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(24000, 40367)
(6000, 40367)
(24000,)
(6000,)

In [13]:
clf.fit(X_train,y_train)

SVC()

In [14]:
y_pred1 = clf.predict(X_test)

In [15]:
print(y_pred1.shape)

(6000,)

In [16]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred1)*100)

Accuracy: 73.25

In [17]:

vectorizer2=CountVectorizer(analyzer='word',ngram_range=(1,1),stop_words='english')

In [18]:
data_c2=vectorizer2.fit_transform(list(data))

In [19]:
print(data_c2.shape)

(30000, 40367)

In [20]:
clf2=svm.SVC(kernel='rbf')

In [21]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(data_c2,target, test_size=0.2,random_state=10)

In [22]:
clf2.fit(X_train2,y_train2)

SVC()

In [23]:
y_pred2 = clf2.predict(X_test2)

In [24]:
print("Accuracy:",metrics.accuracy_score(y_test2, y_pred2)*100)

Accuracy: 74.85000000000001

In [25]:
yp=clf2.predict(X_train2)
print("Accuracy:",metrics.accuracy_score(y_train2, yp)*100)

Accuracy: 94.5